{% from 'bootstrap5/form.html' import render_form %}
{% from "macros.html" import show_erstattung, menu_erstattungen %}
{% extends 'base.html' %}

{% block content %}
<h2>Kostenerstattung verbuchen</h2>

{{ menu_erstattungen(erstattung) }}
{{ show_erstattung(config, erstattung, belege) }}

{% if not erstattung.booked_at %}
    {{ render_form(form) }}
{% endif %}

{{ render_messages(container=False, dismissible=True, dismiss_animate=True) }}

<script>
    document.getElementById('buchungsperiode').onchange = function () {
        window.location.href = window.location.pathname + '?buchungsperiode=' + this.value;
    };
</script>


{% endblock %}
